[Unit]
Description=Send Journalctl to Syslog

[Service]
TimeoutStartSec=0
ExecStart=/bin/sh -c '/usr/bin/journalctl -o json -f | /usr/bin/ncat 192.168.155.202 1515'

Restart=always
RestartSec=5s

[Install]
Global=true